In [2]:
import pandas as pd
from os import listdir

In [3]:
listdir("FacebookGroups")

['group-posts61f2b29d9ffbd-DRNyheder.xlsx',
 'group-posts61f2b2f67a010-tv2nyhederne.xlsx',
 'group-posts61f2b3096c119-ekstrabladet.xlsx',
 'group-posts61f2b34293724-berlingske.xlsx',
 'group-posts61f2b35feb99b-ditbt.xlsx']

In [4]:
workingDir = "FacebookGroups"

In [7]:
dataframes = [pd.read_excel(workingDir + "/" + file, header=5) for file in listdir(workingDir)]
df = pd.concat(dataframes)
df_sorted = df.sort_values(by="Comments Count", ascending=False)

In [8]:
df_sorted

,Unnamed: 0,Unnamed: 1,Post ID,Name,Publication Date,Message,Post Url,(view source),Comments Count,Reactions Count,Shares Count,Views Count,LIKE,SUPPORT,LOVE,ANGER,HAHA,SORRY,WOW
43,44,NaN,ID: 5943942922287965,TV 2 NYHEDERNE,2022-01-26 10:14:52,Hvem t칮r? 游땸,https://www.facebook.com/5943942922287965,view post,17876,4436,445,0,3348.0,6.0,325.0,2.0,25.0,7.0,723.0
21,22,NaN,ID: 10159088756448520,Ekstra Bladet,2022-01-24 14:08:02,Hvad vil du helst have - Dan J칮rgensen eller e...,https://www.facebook.com/10159088756448520,view post,5681,1792,85,0,818.0,2.0,7.0,13.0,925.0,7.0,20.0
2,3,NaN,ID: 5938489486166642,TV 2 NYHEDERNE,2022-01-25 07:30:12,Der er stor forskel p친 K칮benhavn og Jylland.,https://www.facebook.com/5938489486166642,view post,4635,2512,101,0,680.0,2.0,14.0,107.0,1197.0,26.0,486.0
46,47,NaN,ID: 10159090421418520,Ekstra Bladet,2022-01-25 11:02:19,If칮lge Jyllands-Posten vil Mette Frederiksen p...,https://www.facebook.com/10159090421418520,view post,4075,4320,372,0,3236.0,21.0,304.0,112.0,558.0,35.0,54.0
25,26,NaN,ID: 10159088990863520,Ekstra Bladet,2022-01-24 16:52:17,"Er l칮nnen til dem, der deler reklamer og ugeav...",https://www.facebook.com/10159088990863520,view post,3246,1918,103,0,1838.0,1.0,4.0,25.0,35.0,5.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,2,NaN,ID: 10159087637868520,Ekstra Bladet,2022-01-23 21:45:24,Nicolaj Thomsen har skrevet navnet p친 sin nye ...,https://www.facebook.com/10159087637868520,view post,0,14,0,0,13.0,NaN,NaN,NaN,NaN,NaN,1.0
21,22,NaN,ID: 10158617913238133,Berlingske,2022-01-21 22:19:00,Gyserfilmen st친r st칝rkt i dansk film. Det vise...,https://www.facebook.com/10158617913238133,view post,0,6,0,0,5.0,1.0,NaN,NaN,NaN,NaN,NaN
34,35,NaN,ID: 10158619142423133,Berlingske,2022-01-22 14:50:35,"Her er historien om flyselskabet, hvor absolut...",https://www.facebook.com/10158619142423133,view post,0,4,0,0,3.0,1.0,NaN,NaN,NaN,NaN,NaN
46,47,NaN,ID: 5799070970120073,B.T.,2022-01-27 14:38:55,"췉Jeg talte og talte og t칝nkte, at det m친tte da...",https://www.facebook.com/5799070970120073,view post,0,4,0,0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
145,146,NaN,ID: 10158627318818133,Berlingske,2022-01-27 07:44:54,"췉Efter at have set den, synes jeg faktisk, at ...",https://www.facebook.com/10158627318818133,view post,0,2,0,0,2.0,NaN,NaN,NaN,NaN,NaN,NaN